:root {
    /* CSS HEX */
    --seasalt: #f9f8f8ff;
    --rich-black: #0d1b1eff;
    --chestnut: #a44a3fff;
    --cerulean: #437c90ff;
    --kelly-green: #63c132ff;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 6fr;
    color: var(--rich-black);
}

a {
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.content {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.content > div:first-child {
    background-color: var(--seasalt);
}

.sidebar {
    background-color: var(--rich-black);
    padding: 50px 7% 0;
    color: var(--seasalt);
}

.projects-container .project {
    display: block;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.projects-container .project.selected {
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.buttons-container {
    text-align: center;
    background-color: var(--seasalt);
}

.new-project,
.new-todo-item,
.new-todo-list {
    margin: 10px;
    background-color: var(--rich-black);
    color: var(--seasalt);
    padding: 10px 12px;
    font-weight: 700;
    border: 1px solid var(--rich-black);
    border-radius: 8px;
    cursor: pointer;
}

.new-project:active,
.new-todo-item:active,
.new-todo-list:active {
    background-color: rgb(from var(--rich-black) r g b / 0.85);
}

.new-todo-list-modal,
.new-project-modal,
.new-todo-item-modal {
    bottom: 10%;
}

.new-todo-list-modal form > div.input-container,
.new-project-modal form > div.input-container,
.new-todo-item-modal form > div.input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: right;
    gap: 5px 10px;
    margin-bottom: 10px;
}

p.error {
    margin: 0;
    text-align: left;
    color: var(--chestnut);
    font-size: 0.9rem;
}

.new-todo-list-modal button,
.new-project-modal button,
.new-todo-item-modal button {
    margin: 5px;
}

button.create-todo-list,
button.create-project,
button.create-todo-item,
button.cancel-todo-list,
button.cancel-project,
button.cancel-todo-item {
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--rich-black);
    cursor: pointer;
}

button.create-todo-list:active,
button.create-project:active,
button.create-todo-item:active {
    background-color: rgb(from var(--kelly-green) r g b / 0.85);
}

button.cancel-todo-list:active,
button.cancel-project:active,
button.cancel-todo-item:active {
    background-color: rgb(from var(--chestnut) r g b / 0.85);
}

button.create-todo-list,
button.create-project,
button.create-todo-item {
    background-color: var(--kelly-green);
    border: 1px solid var(--kelly-green);
}

button.cancel-todo-list,
button.cancel-project,
button.cancel-todo-item {
    background-color: var(--chestnut);
    border: 1px solid var(--chestnut);
}

.todo-lists-container {
    background-color: var(--cerulean);
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px;
}

.todo-list {
    background-color: var(--seasalt);
    padding: 10px;
    border: 1px solid var(--rich-black);
    border-radius: 8px;
}

.todo-list h2 {
    text-align: center;
    margin: 10px 0;
}

.todo-list .due-date {
    display: flex;
}

.todo-list .due-date p:first-child {
    margin-right: 10px;
}

.single-project-container,
.single-todo-list-container {
    background-color: var(--cerulean);
    text-align: center;
    padding: 5% 15%;
    display: flex;
    justify-content: center;
}

.single-project-container .card,
.single-todo-list-container .card {
    background-color: var(--seasalt);
    border: 1px solid #000000;
    border-radius: 10px;
    width: clamp(300px, 65%, 600px);
    padding: 0 5% 2%;
    max-height: fit-content;
}

.single-project-container li,
.single-todo-list-container li {
    text-align: left;
    padding: 5px 15px;
}

.single-project-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-todo-list-container li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "checkbox name ."
        ". date deleteTodo"
        ". description .";
    border-top: 1px solid #eaeaea;
}

.single-todo-list-container li:last-of-type {
    border-bottom: 1px solid #eaeaea;
}

.single-todo-list-container li > input {
    grid-area: checkbox;
    margin-right: 10px;
}

.single-todo-list-container li > input:checked ~ p {
    text-decoration: line-through;
}

.single-todo-list-container li p {
    margin: 0;
}

.todo-item-name {
    grid-area: name;
    font-size: 1.3rem;
}

.todo-item-delete {
    grid-area: deleteTodo;
    cursor: pointer;
}

.todo-item-due-date {
    grid-area: date;
    font-size: 0.9rem;
}

.todo-item-description {
    grid-area: description;
    font-size: 0.9rem;
}

.new-todo-item {
    margin-top: 8px;
}

.todo-list-delete {
    cursor: pointer;
}

.hide {
    display: none;
}

@media (max-width: 1200px) {
    .single-project-container,
    .single-todo-list-container {
        padding: 5%;
    }
}